/bin
/obj
/logs
Servindustria.sln
/Properties/serviceDependencies.json
/Properties/serviceDependencies.local.json
/Properties/serviceDependencies.local.json.user
/Servindustria.csproj
/.vs/slnx.sqlite
/.vs/Servindustria-ASPNETRAZOR/config
/.vs/Servindustria-ASPNETRAZOR/FileContentIndex
/.vs/Servindustria-ASPNETRAZOR/v17
/.vs/Servindustria/FileContentIndex
/.vs/Servindustria/config
/.vs/Servindustria/v17
/.vs
/.config
