#authentication {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
}

#authentication form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}