.logo {
    display: grid;
    place-items: center;
    height: 60vh;
}

.logo img {
    width: 500px;
    border: 5px solid black;
    border-radius: 50%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.left-content, .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.left-content {
    margin-left: 150px;
}

.right-content {
    margin-right: 150px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}