/* -------------------------------------------- FULL -------------------------------------------- */

html, body {
    font-family: Courier;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    opacity: 0;
    transition: 1s ease;
}

/* -------------------------------------------- HEADER -------------------------------------------- */

header {
    background-color: #298CAC;
    text-align: center;
}

header p /* SERVINDUSTRIA */ {
    font-size: 1.5rem;
}

header ul /* MENU */ {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

header li a /* EACH MENU OPTION */ {
    text-decoration: none;
    color: white;
}

header li a:hover /* EACH MENU OPTION */ {
    color: black;
    transition: color 0.4s ease;
}

.currentPage a /* CURRENT PAGE */ {
    color: rgb(184, 0, 0);
}

/* -------------------------------------------- FOOTER -------------------------------------------- */

footer {
    background-color: #298CAC;
    display: flex;
    justify-content: center;
}