/* -------------------------------------------- FULL -------------------------------------------- */

html, body {
    font-family: Courier;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
    opacity: 0;
    transition: 1s ease;
}

/* -------------------------------------------- HEADER -------------------------------------------- */

header {
    background-color: #298CAC;
}

header ul /* MENU */ {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

header ul li a /* EACH MENU OPTION */ {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}

header ul li a:hover /* HOVER OF EACH MENU OPTION */ {
    transition: all 0.2s ease;
    box-shadow: 0px 2px 0px;
    padding: 5px 10px;
}

.currentPage a /* CURRENT PAGE */ {
    color: black;
}

/* -------------------------------------------- FOOTER -------------------------------------------- */

footer {
    background-color: #298CAC;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}