/* -------------------------------------------- FULL -------------------------------------------- */

html, body {
    background-color: #f5f5f5;
    font-family: Courier;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    zoom: 90%;
}

main {
    flex: 1;
    opacity: 0;
    transition: 0.4s ease;
}

/* -------------------------------------------- HEADER -------------------------------------------- */

header {
    background-color: #242e7d;
}

header ul /* MENU */ {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 150px;
    padding-inline-end: 150px;
}

header ul li {
    display: flex;
    text-align: center;
}

header ul li a /* EACH MENU OPTION */ {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
    font-family: Courier;
    font-size: 21px;
    display: inline-block;
    padding: 5px 10px;
}

header ul li a:hover /* HOVER OF EACH MENU OPTION */ {
    transition: all 0.2s ease;
    box-shadow: 0px 2px 0px;
    padding: 5px 10px;
}

.currentPage a /* CURRENT PAGE */ {
    color: grey;
}

.companyName {
    text-align: center;
}

.companyName p {
    font-size: 40px;
    color: white;
    margin-bottom: 0;
    margin-top: 20px;
}

.fromIndex p {
    animation: 0.7s ease-in-out slideDown;
}

@keyframes slideDown {
    0% {
        translate: 0px -200px;
    }
    100% {
        translate: 0px 0px;
    }
}

.notification {
    zoom: 0.05;
    visibility: hidden;
}

/* ----------------------------------------- MOVABLE ICON ----------------------------------------- */

#movableContainer {
    position: absolute;
    transform: translate(50px, 100px);
}

#movablePhone {
    position: absolute;
    cursor: pointer;
    width: 50px;
}

#movableContainer #popupBox.popup-visible {
    opacity: 1;
    visibility: visible;
}

#popupBox {
    position: absolute;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    top: 50px;
    left: 40px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    width: 230px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

/* -------------------------------------------- FOOTER -------------------------------------------- */

footer {
    background-color: #242e7d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

/* -------------------------------------------- MAIN STYLES -------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    text-align: center;
    color: #242e7d;
}

.formClass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, textarea {
    margin: 5px;
    padding: 5px;
    border: 1px solid #242e7d;
    border-radius: 5px;
    width: 220px;
}

input:focus, select:focus, textarea:focus{
    outline: none;
    border: 1px solid #242e7d;
    box-shadow: 0px 0px 5px #242e7d
}

input::placeholder, select::selection, textarea::placeholder {
    text-align: center;
}

input[type="submit"] {
    background-color: #242e7d;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    width: auto;
}

.error {
    color:red;
    text-align: center;
    padding: 10px;
    display: none;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 10px;
}

.success {
    color:green;
    text-align: center;
    padding:10px;
    display: none;
    border: 1px solid green;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination span {
    padding-top: 0.8%;
    color: black;
}

.pagination input {
    margin: 0px 10px;
}

.invisible-btn {
    visibility: hidden;
}

.bigContainer {
    display: flex;
    justify-content: center;
}

.smallContainer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: fit-content;
    text-align: center;
    margin: 50px;
}

.smallContainer h1, .smallContainer h2, .smallContainer h3, .smallContainer h4, .smallContainer h5, .smallContainer h6 {
    margin-top: 20px;
}

.smallContainerEntry {
    border-top: 2px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.smallContainerEntry p {
    margin: 5px 0;
    line-height: 1.5;
}

.smallContainerEntry a {
    text-decoration: none;
    color: #242e7d;
}