@page "/contacto"
@model ContactModel

<h1>Contacto</h1>

<div class="bigContainer">
    <div class="smallContainer">
        <h2>Informações de Contacto</h2>
        <p>253 823 196</p>
        <p>919 688 935</p>
        <p>servindustria@gmail.com</p> <br>
        <p>Rua Doutor Aníbal Araújo, 430</p>
        <p>4750-109 Arcozelo, Barcelos</p>

        <br>

        <h2>Horário de Funcionamento</h2>
        <p>Segunda a Sexta: 9:00 - 12:30, 14:00 - 19:00</p>
        <p>Sábados: 10:00 - 12:00</p>
        <p>Domingos e Feriados: Encerrado</p>
    </div>
    
    <div class="smallContainer">
        <h2>Localização</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d746.5881162905087!2d-8.617016971460512!3d41.53996510200568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24524b2cc2e5e9%3A0x1821d9fa8e7aad23!2sServindustria-%20V%C3%A1lvulas%20Industriais!5e0!3m2!1spt-PT!2spt!4v1708013515880!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>