@page "/"

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true">

<h1>Bem-vindo/a à Servindustria!</h1>

<div class="content">
    <div class="left-content">
        <p>Somos uma Empresa que se dedica à Importação, Comércio e Revenda de Válvulas, Bombas e todos os Equipamentos para o Controle de Fluidos, Instrumentação Industrial, Automação Electrónica e Pneumática, AVAC, Óleo-Hidráulica e outras áreas da Indústria.</p>
        <p>Existimos desde 1997 e atendemos diversos sectores da Indústria em geral, tal como a Têxtil Petrolífera, Química, Automóvel, Energética, Construção Civil e Obras Públicas, Alimentar, Naval, Papeleira, Farmacêutica, Climatização, Sanitária, etc.</p>
        <p>Comercializamos produtos de alta qualidade, com as normas e conformidade europeia de marcas reconhecidas no mercado nacional e internacional e tem como objetivo, a plena satisfação das necessidades de todos os nossos clientes.</p>
    </div>

    <div class="logo">
        <img src="~/imgs/favicon.png" alt="Logótipo - Servindustria">
    </div>

    <div class="right-content">
        <p>Oferecemos uma ampla gama de produtos e serviços para atender às necessidades do mercado nacional. Entre os nossos produtos destacam-se:</p>
        <p>- Válvulas: válvulas manuais ou automáticas para controle de fluxo e pressão em tubulações;</p>
        <p>- Equipamentos: bombas hidráulicas e pneumáticas para transferência e distribuição de fluidos;</p>
        <p>- Instrumentação: sensores ou transdutores para medição ou controle de parâmetros físicos ou químicos</p>
        <p>- Automação: controladores lógicos programáveis (CLPs), relés térmicos ou eléctricos para regulaçãoou acionamento de sistemas automatizados</p>
        <p>- AVAC: válvulas acionadas por atualização (VAC) para transporte ou armazenamento de gases</p>
        <p>- Óleo-hidráulico: sistemas hidráulicos com óleo de operação para aplicação em máquinas-ferramentas ou veículos.</p>
        <p>Estamos à sua disposição para esclarecer qualquer dúvida ou solicitar um orçamentosem quaisquer compromisso.</p>
    </div>
</div>
