@page "/"

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true">

<h1>Bem-vindo/a à Servindustria!</h1>
<h2>Importação / Revenda / Comércio</h2>

<div class="content">
    <div class="left-content">
        <p>Somos uma Empresa sediada em Barcelos e que se dedica à Importação, Revenda e Comércio de todo o tipo de Produtos, Acessórios e Equipamentos Industriais.</p>
        <p>Oferecemos todo o tipo de soluções multimarcas e para toda as áreas da indústria nacional. </p>
        <p>O nosso objetivo é a plena satisfação das necessidades dos nossos clientes.</p>
    </div>
    
    <div class="logo">
        <img src="~/imgs/favicon.png" alt="Logótipo - Servindustria">
    </div>

    <div class="right-content">
        <p>Válvulas / Bombas / Acessórios Têxteis / Confecção / Tinturaria / Estamparia</p>
        <p>Acabamento / Auto-Hidráulica / Etas e Etares / AVAC / Climatização</p>
        <p>Águas / Saneamento / Equipamentos Sanitários</p>
        <p>Construção Civil / Obras Públicas / Petrolífera</p>
        <p>Naval / Papeleira / Farmacêutica</p>
    </div>
</div>
