@page "/tabelasTecnicas"
@model TechnicalTableOrCatalogsModel

<div class="bigContainer">
    <div class="smallContainer">
        <h1>Tabelas Técnicas / Catálogos</h1>

        @if (Model.TechnicalTableOrCatalogs.Count() == 0) {
            <p>Não existem tabelas técnicas nem catálogos disponíveis.</p>
        }

        @foreach (TechnicalTableOrCatalog tb in Model.TechnicalTableOrCatalogs) {
            <div class="smallContainerEntry" style="padding-top: 20px;padding-bottom: 20px;">
                <a href="@Url.Content($"~/pdfs/technicaltable_{tb.Id}.pdf")" target="_blank">@(tb.Name)</a>
            </div>
        }
    </div>
</div>