@page "/tabelasTecnicas"
@model TechnicalTablesModel

<div class="bigContainer">
    <div class="smallContainer">
        <h1>Tabelas Técnicas</h1>

        @if (Model.TechnicalTables.Count() == 0) {
            <p>Não existem tabelas técnicas disponíveis.</p>
        }

        @foreach (TechnicalTable tb in Model.TechnicalTables) {
            <div class="smallContainerEntry" style="padding-top: 20px;padding-bottom: 20px;">
                <a href="@Url.Content($"~/pdfs/technicaltable_{tb.Id}.pdf")" target="_blank">@(tb.Name)</a>
            </div>
        }
    </div>
</div>